unstructured
pypdf2
python-docx
python-magic-bin
chardet
pandas
pdfplumber
beautifulsoup4
markdown
ftfy
regex
langdetect
lxml
textstat
nltk
spacy
sentence-transformers
numpy
matplotlib
seaborn
stopwords
sentence-transformers
scikit-learn
datasketch
tqdm
tiktoken
langchain
transformers
keybert
yake
rapidfuzz
